# Module 5: Lists

# What is Lists?
Lists are a versatile data structure used to store collections of items, which can be of different types. Lists are used to store multiple items in a single variable.

# Exercises: Level 1

In [ ]:
# Declare an empty list

company = []

In [6]:
# Declare a list with more than 5 items

company = ['amazon','samsung','cocacola','iphone','tecno','itel']

print(company)

['amazon', 'samsung', 'cocacola', 'iphone', 'tecno', 'itel']

In [7]:
# Find the length of your list

company = ['amazon','samsung','cocacola','iphone','tecno','itel']

print(len(company))

6

In [10]:
# Get the first item, the middle item and the last item of the list

company = ['amazon','samsung','iphone','tecno','itel']

print(f'The First item is: {company[0].title()}')
print(f'The middle item is: {company[2].title()}')
print(f'The last item is: {company[-1].title()}')

The First item is: Amazon
The middle item is: Iphone
The last item is: Itel

In [11]:
# Declare a list called mixed_data_types, put your(name, age, height, marital status, address)

mixed_data_types = ['Timileyin','25','6.3','single','osun']

print(mixed_data_types)

['Timileyin', '25', '6.3', 'single', 'osun']

In [14]:
# Declare a list variable named it_companies and assign initial values Facebook, Google, Microsoft, Apple, IBM, Oracle and Amazon.

it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

In [13]:
# Print the list using print()

print(it_companies)

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

In [15]:
# Print the number of companies in the list

print(f'The number of the companies is: {len(it_companies)}')

The number of the companies is: 7

In [16]:
# Print the first, middle and last company

it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

print(f'The First company is: {it_companies[0]}')
print(f'The middle company is: {it_companies[3]}')
print(f'The last company is: {it_companies[-1]}')

The First company is: Facebook
The middle company is: Apple
The last company is: Amazon

In [17]:
# Print the list after modifying one of the companies

it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

it_companies[0] = 'Samsung'
print(it_companies)

['Samsung', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

In [18]:
# Add an IT company to it_companies

it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
it_companies.append('IT Company')

print(it_companies)

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon', 'IT Company']

In [22]:
# Insert an IT company in the middle of the companies list

it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
it_companies.insert(3 ,'IT company')

print(it_companies)

['Facebook', 'Google', 'Microsoft', 'IT company', 'Apple', 'IBM', 'Oracle', 'Amazon']

In [32]:
# Change one of the it_companies names to uppercase (IBM excluded!)

it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

it_companies.remove('IBM')

it_companies[2] = 'MICROSOFT'

print(it_companies)

['Facebook', 'Google', 'MICROSOFT', 'Apple', 'Oracle', 'Amazon']

In [33]:
# Join the it_companies with a string '#;  '

it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
company = ['amazon','samsung','cocacola','iphone','tecno','itel']

result = it_companies + company

print(result)

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon', 'amazon', 'samsung', 'cocacola', 'iphone', 'tecno', 'itel']

In [39]:
# Check if a certain company exists in the it_companies list.

it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

result = 'Google' in it_companies

print(result)

True

In [41]:
# Sort the list using sort() method

it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

it_companies.sort()

print(it_companies)

['Amazon', 'Apple', 'Facebook', 'Google', 'IBM', 'Microsoft', 'Oracle']

In [43]:
# Reverse the list in descending order using reverse() method

it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

it_companies.sort(reverse=True)

print(it_companies)

['Oracle', 'Microsoft', 'IBM', 'Google', 'Facebook', 'Apple', 'Amazon']

In [45]:
# Slice out the first 3 companies from the list

it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

print(it_companies[:3])

['Facebook', 'Google', 'Microsoft']

In [47]:
# Slice out the last 3 companies from the list

it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

print(it_companies[-3:])

['IBM', 'Oracle', 'Amazon']

In [48]:
# Slice out the middle IT company or companies from the list

it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

print(f'The middle company is: {it_companies[3]}')

The middle company is: Apple

In [54]:
# Remove the first IT company from the list

it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

it_companies.pop(0)

print(it_companies)

['Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

In [56]:
# Remove the middle IT company or companies from the list

it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

it_companies.pop(3)

print(it_companies)

['Facebook', 'Google', 'Microsoft', 'IBM', 'Oracle', 'Amazon']

In [58]:
# Remove the last IT company from the list

it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

it_companies.pop()

print(it_companies)

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle']

In [59]:
# Remove all IT companies from the list

it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

it_companies.clear()

print(it_companies)

[]

In [60]:
# Destroy the IT companies list

it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

del it_companies

print('The company have been destroy')

The company have been destroy

In [61]:
'''
Join the following lists:

front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']
back_end = ['Node','Express', 'MongoDB']
'''
front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']
back_end = ['Node','Express', 'MongoDB']

result = front_end + back_end

print(result)

['HTML', 'CSS', 'JS', 'React', 'Redux', 'Node', 'Express', 'MongoDB']

In [70]:
# After joining the lists in question 26. Copy the joined list and assign it to a variable full_stack, then insert Python and SQL after Redux.

full_stack = ['HTML', 'CSS', 'JS', 'React', 'Redux', 'Node', 'Express', 'MongoDB']

full_stack[5:5] = ['Python', 'SQL']

print(full_stack)

['HTML', 'CSS', 'JS', 'React', 'Redux', 'Python', 'SQL', 'Node', 'Express', 'MongoDB']

# Exercises: Level 2

In [72]:
''' 
The following is a list of 10 students ages:
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
'''
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
print(ages)

[19, 22, 19, 24, 20, 25, 26, 24, 25, 24]

In [75]:
# Sort the list and find the min and max age

ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
ages.sort()
print(f'The shorted age is: {ages}')

min_ages = min(ages)
print(f'The minimum age is: {min_ages}')

max_age = max(ages)
print(f'The maximum age is: {max_age}')

The shorted age is: [19, 19, 20, 22, 24, 24, 24, 25, 25, 26]
The minimum age is: 19
The maximum age is: 26

In [81]:
# Add the min age and the max age again to the list

ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]

min_ages = min(ages)
max_age = max(ages)

ages.append(min_ages)
ages.append(max_age)

ages.sort()

print(ages)

[19, 19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 26]

In [26]:
# Find the median age (one middle item or two middle items divided by two)

ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]

ages.sort()
print(f'The sorted age is: {ages}')

count = len(ages)
print(f'The Length of age is: {count}')

middle_age = ages[4:6]
print(f'The Median Age is: {middle_age}')

median_age = (ages[5] + ages[6]) / 2
print(f'The Median Age is: {median_age}')

The sorted age is: [19, 19, 20, 22, 24, 24, 24, 25, 25, 26]
The Length of age is: 10
The Median Age is: [24, 24]
The Median Age is: 24.0

In [86]:
# Find the average age (sum of all items divided by their number )

ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
ages.sort()
print(f'The shorted age is: {ages}')

total_age = sum(ages)
print(f'The total number of age is: {total_age}')

length_age = len(ages)
print(f'The length of age is: {length_age}')

result = total_age / length_age
print(f'The total Average age is: {result}')

The shorted age is: [19, 19, 20, 22, 24, 24, 24, 25, 25, 26]
The total number of age is: 228
The length of age is: 10
The total Average age is: 22.8

In [1]:
# Find the range of the ages (max minus min)

ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]

max_age = max(ages)
print(f'The maximum age is: {max_age}')

min_age = min(ages)
print(f'The minimum age is: {min_age}')

range = (max_age - min_age)
print(f'The range age is: {range} ')

The maximum age is: 26
The minimum age is: 19
The range age is: 7

In [5]:
# Compare the value of (min - average) and (max - average), use abs() method

ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]

# let find our average
avg_value =  (sum(ages) / len(ages))

# compare the value of min - average
min_avg = abs(min(ages) - avg_value)
print(f'The Absolute Difference value of minumum and average is: {min_avg}')

# compare the value of max - average
max_avg = abs(max(ages) - avg_value)
print(f'The Absolute Difference value of maximum and average is: {max_avg}')

# compare the value
if min_age > max_avg:
    print('Minmum - Average has a larger absolute difference')
elif max_avg < min_age:
    print('Maximum - Average has a larger absolute difference')
else:
    print('Both have the same absolute difference')

The Absolute Difference value of minumum and average is: 3.8000000000000007
The Absolute Difference value of maximum and average is: 3.1999999999999993
Minmum - Average has a larger absolute difference

In [12]:
# Find the middle country(ies) in the countries list

countries = [
  'Afghanistan',
  'Albania',
  'Algeria',
  'Andorra',
  'Angola',
  'Antigua and Barbuda',
  'Argentina',
  'Armenia',
  'Australia',
  'Austria',
  'Azerbaijan',
  'Bahamas',
  'Bahrain',
  'Bangladesh',
  'Barbados',
  'Belarus',
  'Belgium',
  'Belize',
  'Benin',
  'Bhutan',
  'Bolivia',
  'Bosnia and Herzegovina',
  'Botswana',
  'Brazil',
  'Brunei',
  'Bulgaria',
  'Burkina Faso',
  'Burundi',
  'Cambodia',
  'Cameroon',
  'Canada',
  'Cape Verde',
  'Central African Republic',
  'Chad',
  'Chile',
  'China',
  'Colombi',
  'Comoros',
  'Congo (Brazzaville)',
  'Congo',
  'Costa Rica',
  "Cote d'Ivoire",
  'Croatia',
  'Cuba',
  'Cyprus',
  'Czech Republic',
  'Denmark',
  'Djibouti',
  'Dominica',
  'Dominican Republic',
  'East Timor (Timor Timur)',
  'Ecuador',
  'Egypt',
  'El Salvador',
  'Equatorial Guinea',
  'Eritrea',
  'Estonia',
  'Ethiopia',
  'Fiji',
  'Finland',
  'France',
  'Gabon',
  'Gambia, The',
  'Georgia',
  'Germany',
  'Ghana',
  'Greece',
  'Grenada',
  'Guatemala',
  'Guinea',
  'Guinea-Bissau',
  'Guyana',
  'Haiti',
  'Honduras',
  'Hungary',
  'Iceland',
  'India',
  'Indonesia',
  'Iran',
  'Iraq',
  'Ireland',
  'Israel',
  'Italy',
  'Jamaica',
  'Japan',
  'Jordan',
  'Kazakhstan',
  'Kenya',
  'Kiribati',
  'Korea, North',
  'Korea, South',
  'Kuwait',
  'Kyrgyzstan',
  'Laos',
  'Latvia',
  'Lebanon',
  'Lesotho',
  'Liberia',
  'Libya',
  'Liechtenstein',
  'Lithuania',
  'Luxembourg',
  'Macedonia',
  'Madagascar',
  'Malawi',
  'Malaysia',
  'Maldives',
  'Mali',
  'Malta',
  'Marshall Islands',
  'Mauritania',
  'Mauritius',
  'Mexico',
  'Micronesia',
  'Moldova',
  'Monaco',
  'Mongolia',
  'Morocco',
  'Mozambique',
  'Myanmar',
  'Namibia',
  'Nauru',
  'Nepal',
  'Netherlands',
  'New Zealand',
  'Nicaragua',
  'Niger',
  'Nigeria',
  'Norway',
  'Oman',
  'Pakistan',
  'Palau',
  'Panama',
  'Papua New Guinea',
  'Paraguay',
  'Peru',
  'Philippines',
  'Poland',
  'Portugal',
  'Qatar',
  'Romania',
  'Russia',
  'Rwanda',
  'Saint Kitts and Nevis',
  'Saint Lucia',
  'Saint Vincent',
  'Samoa',
  'San Marino',
  'Sao Tome and Principe',
  'Saudi Arabia',
  'Senegal',
  'Serbia and Montenegro',
  'Seychelles',
  'Sierra Leone',
  'Singapore',
  'Slovakia',
  'Slovenia',
  'Solomon Islands',
  'Somalia',
  'South Africa',
  'Spain',
  'Sri Lanka',
  'Sudan',
  'Suriname',
  'Swaziland',
  'Sweden',
  'Switzerland',
  'Syria',
  'Taiwan',
  'Tajikistan',
  'Tanzania',
  'Thailand',
  'Togo',
  'Tonga',
  'Trinidad and Tobago',
  'Tunisia',
  'Turkey',
  'Turkmenistan',
  'Tuvalu',
  'Uganda',
  'Ukraine',
  'United Arab Emirates',
  'United Kingdom',
  'United States',
  'Uruguay',
  'Uzbekistan',
  'Vanuatu',
  'Vatican City',
  'Venezuela',
  'Vietnam',
  'Yemen',
  'Zambia',
  'Zimbabwe',
]

count = len(countries)
print(f'The Number of the country in the list is: {count}')

middle_country = countries[96]
print(f'The Middle country is: {middle_country}')

The Number of the country in the list is: 193
The Middle country is: Lesotho

In [15]:
# Divide the countries list into two equal lists if it is even if not one more country for the first half.

first_country = countries[:96]
second_country = countries[96:]

print(f'First Country = {first_country}')
print(f'Seconf Country = {second_country}')

First Country = ['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola', 'Antigua and Barbuda', 'Argentina', 'Armenia', 'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bhutan', 'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil', 'Brunei', 'Bulgaria', 'Burkina Faso', 'Burundi', 'Cambodia', 'Cameroon', 'Canada', 'Cape Verde', 'Central African Republic', 'Chad', 'Chile', 'China', 'Colombi', 'Comoros', 'Congo (Brazzaville)', 'Congo', 'Costa Rica', "Cote d'Ivoire", 'Croatia', 'Cuba', 'Cyprus', 'Czech Republic', 'Denmark', 'Djibouti', 'Dominica', 'Dominican Republic', 'East Timor (Timor Timur)', 'Ecuador', 'Egypt', 'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia', 'Ethiopia', 'Fiji', 'Finland', 'France', 'Gabon', 'Gambia, The', 'Georgia', 'Germany', 'Ghana', 'Greece', 'Grenada', 'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti', 'Honduras', 'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati', 'Korea, North', 'Korea, South', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon']
Seconf Country = ['Lesotho', 'Liberia', 'Libya', 'Liechtenstein', 'Lithuania', 'Luxembourg', 'Macedonia', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta', 'Marshall Islands', 'Mauritania', 'Mauritius', 'Mexico', 'Micronesia', 'Moldova', 'Monaco', 'Mongolia', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia', 'Nauru', 'Nepal', 'Netherlands', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'Norway', 'Oman', 'Pakistan', 'Palau', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal', 'Qatar', 'Romania', 'Russia', 'Rwanda', 'Saint Kitts and Nevis', 'Saint Lucia', 'Saint Vincent', 'Samoa', 'San Marino', 'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia and Montenegro', 'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia', 'Solomon Islands', 'Somalia', 'South Africa', 'Spain', 'Sri Lanka', 'Sudan', 'Suriname', 'Swaziland', 'Sweden', 'Switzerland', 'Syria', 'Taiwan', 'Tajikistan', 'Tanzania', 'Thailand', 'Togo', 'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Turkmenistan', 'Tuvalu', 'Uganda', 'Ukraine', 'United Arab Emirates', 'United Kingdom', 'United States', 'Uruguay', 'Uzbekistan', 'Vanuatu', 'Vatican City', 'Venezuela', 'Vietnam', 'Yemen', 'Zambia', 'Zimbabwe']

In [7]:
# ['China', 'Russia', 'USA', 'Finland', 'Sweden', 'Norway', 'Denmark']. Unpack the first three countries and the rest as scandic countries.

countries = ['China', 'Russia', 'USA', 'Finland', 'Sweden', 'Norway', 'Denmark']

first_country,second_country,third_country, * scandic_country = countries

print(f'First Country is: {first_country}')
print(f'Second Country is: {second_country}')
print(f'Third Country is: {third_country}')
print(f'Scandic Country is: {scandic_country}')

First Country is: China
Second Country is: Russia
Third Country is: USA
Scandic Country is: ['Finland', 'Sweden', 'Norway', 'Denmark']

# Tuples

## What is Tuples?

A tuple is a data structure that contains a specific number and sequence of elements. A tuple is a built-in data structure in Python that is used to store multiple items in a single variable.

# Tuple Exercises

## Tuple Exercises: Level 1

In [ ]:
# Create an empty tuple

family = ()

In [31]:
# Create a tuple containing names of your sisters and your brothers (imaginary siblings are fine)

sisters = ('adeola','adetola','adebola','temitope')
brothers = ('olaoluwa','anthony','tosin','damola')

print(sisters)
print(brothers)

('adeola', 'adetola', 'adebola', 'temitope')
('olaoluwa', 'anthony', 'tosin', 'damola')

In [32]:
# Join brothers and sisters tuples and assign it to siblings

sisters = ('adeola','adetola','adebola','temitope')
brothers = ('olaoluwa','anthony','tosin','damola')
siblings = sisters + brothers

print(siblings)

('adeola', 'adetola', 'adebola', 'temitope', 'olaoluwa', 'anthony', 'tosin', 'damola')

In [33]:
# How many siblings do you have?

num_of_siblings = len(siblings)
print(f'The number of siblings that i have is: {num_of_siblings}')

The number of siblings that i have is: 8

In [43]:
# Modify the siblings tuple and add the name of your father and mother and assign it to family_members

siblings = ('adeola', 'adetola', 'adebola', 'temitope', 'olaoluwa', 'anthony', 'tosin', 'damola')
mother_father = ('sade', 'tunde')


family_members =  mother_father + siblings

print(family_members)

('sade', 'tunde', 'adeola', 'adetola', 'adebola', 'temitope', 'olaoluwa', 'anthony', 'tosin', 'damola')

## Tuple Exercises: Level 2

In [46]:
# Unpack siblings and parents from family_members

family_members = ('sade', 'tunde', 'adeola', 'adetola', 'adebola', 'temitope', 'olaoluwa', 'anthony', 'tosin', 'damola')

siblings = family_members[2:]
parents = family_members[:2]

print(f'Siblings are: {siblings}')
print(f'parents are: {parents}')

Siblings are: ('adeola', 'adetola', 'adebola', 'temitope', 'olaoluwa', 'anthony', 'tosin', 'damola')
parents are: ('sade', 'tunde')

In [48]:
# Create fruits, vegetables and animal products tuples. Join the three tuples and assign it to a variable called food_stuff_tp.

fruits = ('apple','orange','banana')
vegetables = ('carrot','tomato','garlic')
animal = ('cow','lion','goat')

food_stuff_tp = fruits + vegetables + animal

print(food_stuff_tp)

('apple', 'orange', 'banana', 'carrot', 'tomato', 'garlic', 'cow', 'lion', 'goat')

In [50]:
# Change the about food_stuff_tp tuple to a food_stuff_lt list

food_stuff_tp = ('apple', 'orange', 'banana', 'carrot', 'tomato', 'garlic', 'cow', 'lion', 'goat')

food_stuff_lt = list(food_stuff_tp)
print(food_stuff_lt)

['apple', 'orange', 'banana', 'carrot', 'tomato', 'garlic', 'cow', 'lion', 'goat']

In [51]:
# Slice out the middle item or items from the food_stuff_tp tuple or food_stuff_lt list.

food_stuff_tp = ('apple', 'orange', 'banana', 'carrot', 'tomato', 'garlic', 'cow', 'lion', 'goat')

slice_middle = food_stuff_tp[4]
print(f'The middle slice out is: {slice_middle}')

The middle slice out is: tomato

In [54]:
# Slice out the first three items and the last three items from food_staff_lt list

food_stuff_lt = ['apple', 'orange', 'banana', 'carrot', 'tomato', 'garlic', 'cow', 'lion', 'goat']

first_three_items = food_stuff_lt[:3]
last_three_items = food_stuff_lt[-3:]


print(f'The First Three Items is: {first_three_items}')
print(f'The Last Three Items is: {last_three_items}')

The First Three Items is: ['apple', 'orange', 'banana']
The Last Three Items is: ['cow', 'lion', 'goat']

In [55]:
# Delete the food_staff_tp tuple completely

food_staff_tp = ('apple', 'orange', 'banana', 'carrot', 'tomato', 'garlic', 'cow', 'lion', 'goat')

del food_staff_tp

print('Foof Staff tupe has delete')

Foof Staff tupe has delete

In [65]:
'''
Check if an item exists in tuple:
(i) Check if 'Estonia' is a nordic country
(ii) Check if 'Iceland' is a nordic country

nordic_countries = ('Denmark', 'Finland','Iceland', 'Norway', 'Sweden')
'''

nordic_countries = ('Denmark', 'Finland','Iceland', 'Norway', 'Sweden')

is_estonia = 'Estonia' in nordic_countries
print(f"Is Estonia a Nordic country? {is_estonia}")

is_iceland = 'Iceland' in nordic_countries
print(f"Is Iceland a Nordic country? {is_iceland}")

Is Estonia a Nordic country? False
Is Iceland a Nordic country? True

# Sets

## What is Sets?
A set in Python is an unordered collection of unique elements. Sets are useful when you need to store multiple items, but don't care about the order and want to ensure that there are no duplicates.

# Sets Exercises: Level 1

In [ ]:
'''
# sets
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]
'''

In [3]:
# Find the length of the set it_companies

length_company =len(it_companies)
print(f'The number of is: {length_company}')

The number of is: 7

In [8]:
# Add 'Twitter' to it_companies

it_companies.add('Twitter')
print(it_companies)

{'IBM', 'Apple', 'Google', 'Twitter', 'Facebook', 'Oracle', 'Amazon', 'Microsoft'}

In [14]:
# Insert multiple IT companies at once to the set it_companies

it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
mult_company = ('SQL', 'Benz' ,'Samsung')
it_companies.update(mult_company)
print(it_companies)

{'Google', 'Microsoft', 'IBM', 'Samsung', 'Amazon', 'SQL', 'Apple', 'Oracle', 'Facebook', 'Benz'}

In [15]:
# Remove one of the companies from the set it_companies

it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
it_companies.remove('Amazon')
print(it_companies)

{'IBM', 'Apple', 'Google', 'Facebook', 'Oracle', 'Microsoft'}

In [19]:
# What is the difference between remove and discard


''' When the specified element does not exist in the given set, the remove() function raises an error. 
Whereas the discard() method does not raise an error
'''

' When the specified element does not exist in the given set, the remove() function raises an error. \nWhereas the discard() method does not raise an error\n'

# Sets Exercises: Level 2

In [ ]:
'''
sets
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
'''

In [22]:
# Join A and B

A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}

C = A.union(B)
print(C)

{19, 20, 22, 24, 25, 26, 27, 28}

In [23]:
# Find A intersection B

A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}

A.intersection(B)

{19, 20, 22, 24, 25, 26}

In [24]:
# Is A subset of B

A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}

A.issubset(B)

True

In [25]:
# Are A and B disjoint sets

A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}

A.isdisjoint(B)

False

In [26]:
# Join A with B and B with A

A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}

# Join A with B
a_b = A.union(B)
print(f'A and B join: {a_b}')

# Join B with A
b_a = B.union(A)
print(f'B and A join: {b_a}')

A and B join: {19, 20, 22, 24, 25, 26, 27, 28}
B and A join: {19, 20, 22, 24, 25, 26, 27, 28}

In [27]:
# What is the symmetric difference between A and B

A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}

A.symmetric_difference(B)

{27, 28}

In [28]:
# Delete the sets completely

A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}

del A
print(f'Set A has been deleted')

del B
print(f'Set B has been deleted')

Set A has been deleted
Set B has been deleted

# Sets Exercises: Level 3

In [ ]:
'''age = [22, 19, 24, 25, 26, 24, 25, 24]'''

In [32]:
# Convert the ages to a set and compare the length of the list and the set, which one is bigger?

age = [22, 19, 24, 25, 26, 24, 25, 24]

age_set = set(age)
print(age_set)

''' conpare the length of the list and set'''
len_list = len(age)
print(f'The length of age list is: {len_list}')
len_set = len(age_set)
print(f'The length of age set is: {len_set}')

if len_list > len_set:
    print(f'Age List length is Greater Than Age set')
elif len_list < len_set:
    print(f'Age set length is Greater Than Age list')
else:
    print(f'Age list and Age set has same length')

{19, 22, 24, 25, 26}
The length of age list is: 8
The length of age set is: 5
Age List length is Greater Than Age set

In [ ]:
# Explain the difference between the following data types: string, list, tuple and set

'''
Strings:
A sequence of characters that can include letters, numbers, and special characters. Strings are immutable, meaning they cannot be changed.

Lists:
A collection of ordered elements that can contain duplicate values. Lists are mutable, meaning they can be modified after they are created.

Tuples: 
A sequence of elements separated by commas and enclosed in parentheses. Tuples are immutable, meaning they cannot be changed after they are created. 

Set: 
A collection of unique elements that are unordered and unindexed. Sets are mutable and iterable.
'''

In [33]:
'''
I am a teacher and I love to inspire and teach people. How many unique words have been used in the sentence? 
Use the split methods and set to get the unique words.
'''

sentence = 'I am a teacher and I love to inspire and teach people'
'''use split method to split the sentence'''
word = sentence.split()
'''convert the sentence to sets'''
set_word = set(word)
'''Find the length of the unique words'''
len_word = len(set_word)

print(f'The length of unique words is: {len_word}')
print(f'Unique Words is: {set_word}')

The length of unique words is: 10
Unique Words is: {'inspire', 'teacher', 'a', 'people', 'am', 'to', 'teach', 'I', 'love', 'and'}